<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Chi tiết</title>
  <style>
    #table{
      display: table;
      width: 100%;
      border-collapse: collapse;
    }
    th,td{
      border: 1px solid;
    }
  </style>
</head>
<body>
<h1>Danh sách sản phẩm</h1>
<table id="table">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
    <th>Company</th>
  </tr>
  <tr th:object="${product}">
    <td th:text="${product.id}"></td>
    <td th:text="${product.name}"></td>
    <td th:text="${product.price}"></td>
    <td th:text="${product.description}"></td>
    <td th:text="${product.company}"></td>
  </tr>
</table>
</div>
</body>
</html>