<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vn">
<head>
  <meta charset="UTF-8">
  <title>Product List</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<h1>Blog List</h1>
<a th:href="@{/blogs/create}">
  <button type="button" class="btn btn-outline-primary">Thêm mới</button>
</a>
<form id="searchForm">
  <input type="text" id="name" placeholder="Tên blog"/>
  <button type="submit">Tìm kiếm</button>
</form>
<div id="result"></div>

<table class="table">
  <thead>
  <tr>
    <th>STT</th>
    <th>Title</th>
    <th>Author</th>
    <th>Time</th>
    <th>Category</th>
    <th colspan="3">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="blog,status:${blogs}">
    <td th:text="${status.count}"></td>
    <td th:text="${blog.title}"></td>
    <td th:text="${blog.author}"></td>
    <td th:text="${blog.time}"></td>
    <td th:text="${blog.category.getName()}"></td>
    <td><a th:href="@{/blogs/detail/__${blog.id}__}" class="btn btn-outline-info">Detail</a></td>
    <td><a th:href="@{/blogs/update/__${blog.id}__}" class="btn btn-outline-info">Update</a></td>
    <td><a th:href="@{/blogs/delete/__${blog.id}__}" class="btn btn-outline-info">Delete</a></td>
  </tr>
  </tbody>
</table>
<div style="text-align:center">
  <button id="loadMore" class="btn btn-outline-primary">Tải thêm</button>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
<script>
  $(document).ready(function () {
    $("#searchForm").submit(function (e) {
      e.preventDefault();
      const title = $("#name").val();
      $.ajax({
        url: `/api/blogs/search/${title}`,
        type: "GET",
        success: function (data) {
          $("tbody").empty();
          $.each(data, function (index, blog) {
            const row = `
                        <tr>
                            <td th:text="${status.count}"></td>
    <td th:text="${blog.title}"></td>
    <td th:text="${blog.author}"></td>
    <td th:text="${blog.time}"></td>
    <td th:text="${blog.category.getName()}"></td>
    <td><a th:href="@{/blogs/detail/__${blog.id}__}" class="btn btn-outline-info">Detail</a></td>
    <td><a th:href="@{/blogs/update/__${blog.id}__}" class="btn btn-outline-info">Update</a></td>
    <td><a th:href="@{/blogs/delete/__${blog.id}__}" class="btn btn-outline-info">Delete</a></td>
                        </tr>`;
            $("tbody").append(row);
          });

          if (data.length === 0) {
            $("#result").html("Không tìm thấy blog.");
          } else {
            $("#result").empty();
          }
        },
        error: function (error) {
          console.error("There was a problem with the AJAX request:", error);
        },
      });
    });
  });

</script>
<script>
  $(document).ready(function () {
    let displayedBlogs = 0;
    const blogsPerPage = 20;
    let totalBlogs =${totalBlogs};
    $("#loadMore").click(function () {
      const remainingBlogs = totalBlogs - displayedBlogs;
      const blogsToLoad = Math.min(blogsPerPage, remainingBlogs);
      if (blogsToLoad > 0) {
        $.ajax({
          url: `/api/blogs/load/${displayedBlogs}/${blogsToLoad}`,
          type: "GET",
          success: function (data) {
            $.each(data, function (index, blog) {
              const row = `
                            <tr>
                                <td th:text="${status.count}"></td>
    <td th:text="${blog.title}"></td>
    <td th:text="${blog.author}"></td>
    <td th:text="${blog.time}"></td>
    <td th:text="${blog.category.getName()}"></td>
    <td><a th:href="@{/blogs/detail/__${blog.id}__}" class="btn btn-outline-info">Detail</a></td>
    <td><a th:href="@{/blogs/update/__${blog.id}__}" class="btn btn-outline-info">Update</a></td>
    <td><a th:href="@{/blogs/delete/__${blog.id}__}" class="btn btn-outline-info">Delete</a></td>
                            </tr>`;
              $("tbody").append(row);
            });
            displayedBlogs += blogsToLoad;
            if (displayedBlogs >= totalBlogs) {
              $("#loadMore").hide();
            }
          },
          error: function (error) {
            console.error("There was a problem with the AJAX request:", error);
          },
        });
      }
    });
  });

</script>


</body>
</html>